div.HyperMD-header,
div.cm-line {
	padding-bottom: 0.6rem !important;
	/* текст по ширине
	text-align: justify;
	text-justify: inter-word;
	*/
}

div.HyperMD-list-line {
	padding-bottom: 0.2rem !important;
	/* текст по ширине
	text-align: justify;
	text-justify: inter-word;
	*/
}